{% extends 'admin/admin_dashboard.html' %}
{% block table %}
<table class="table table-striped table-hover border-dark rentals table-bordered">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>Phone Number</th>
            <th>Checkout Date</th>
            <th>Due Date</th>
            <th>Returned</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in all_rentals %}
        <tr>
            <td scope="row">{{ rental.book_id }}</td>
            <td>{{ rental.user_id }}</td>
            <td>{{ rental.first_name }} {{ rental.last_name }}</td>
            <td>{{ rental.phone_number }}</td>
            <td>{{ rental.checkout_date }}</td>
            <td>{{ rental.due_date }}</td>
            <td>
                {% if rental.returned == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}